<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.example.smd"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="5" android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher"
                 android:theme="@style/Notes">
        
        <activity android:name="NotesActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="note" />
            </intent-filter>            
        </activity>
        <activity android:name="com.example.smd.ListActivity"
                  android:label="ListActivity"
                  android:parentActivityName="com.example.smd.NotesActivity" >

                  <meta-data android:name="android.support.PARENT_ACTIVITY"
                             android:value="com.example.smd.NotesActivity" />
        </activity>
        <provider android:name="NotesProvider"
                  android:authorities="com.example.smd.notesprovider"
                  android:exported="true" />

        <service android:name="NotesDataSyncService"
                 android:process="com.example.smd.service"/>
<!--
        <receiver android:name="ConnectivityReceiver">   
           <intent-filter>
              <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />  
                 <action android:name="com.example.smd.CONNECTIVITY_CHANGE" />
          </intent-filter>   
-       </receiver>
-->


    </application>
</manifest>
